@font-face {
  font-family:"komet";
  src:url("https://use.typekit.net/af/8bf67f/00000000000000007735a916/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),
      url("https://use.typekit.net/af/8bf67f/00000000000000007735a916/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/8bf67f/00000000000000007735a916/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:700;
  font-stretch:normal;
  }

body {
    margin: 0;
    background-color: #C4D6ED;
    font-family: 'komet', sans-serif;
  }
  
  #container {
    max-width: 60em;
    margin: auto;
  }
  
  header, nav {
    background-color: white;
    color: white;
    padding: 2em;

  }
  
  h1, p, nav {
    font-family: 'komet', sans-serif;
  }
  
  nav {
    display: flex;
    flex-direction: column;
  }
  
  .selected {
    background-color: #64bbe3;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.3em;
  }
    
  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
  }
  
  article {
    padding: 1em;
    padding-bottom: 0;
  }
  
  article > p {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  a:link, a:visited {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  h1 > a:link, h1 > a:visited {
    text-transform: none;
  }
  
  a:hover {
    background-color: #64bbe3;
  }
  
  a:active {
    background-color: plum;
  }
  
  a.hover {
    opacity: 1;
  }
  
  a.active {
    opacity: 1;
  }
  
  @media (min-width: 30em) {
  
    nav {
      flex-direction: row;
    }
  
    nav > a {
      margin-right: 1em;
    }
  
  }
  
  @media (min-width: 45em) {
  
    main {
      grid-template-columns: 1fr 1fr;
    }
  
    article {
      padding-top: 0;
    }
  
  }